/*WORKS ONLY IN CHROME, SAFARI, OPERA */
/* FIRST EXAMPLE: background-clip: text*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/*But we can use CSS gradients with the -webkit- prefix in order to remove
 the background in non-Webkit browsers:*/

.box-with-text {
    background-image: -webkit-linear-gradient(transparent, transparent),
    url(http://www.nature.org/cs/groups/webcontent/@photopublic/documents/media/bluebird-640x400-1.jpg);
    -webkit-text-fill-color: transparent; /* s tem dolocimo, da je background-image polnilo*/
    -webkit-background-clip: text;
}

.box-with-text{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font: 26vmax/.85 Open Sans, Impact;
}
.container{
    margin-top: 5px;
    background: #000;
    color: #FFF;
    position: relative;
    height: 400px;
    overflow: hidden;
}
.container_white{

    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    background: #FFF;
    position: relative;
    height: 200px;
    overflow: hidden;
    border: solid 1px #448844;
}
.container_animated{
    position: relative;
    height:400px;
    overflow: hidden;
    background: #222 -webkit-linear-gradient(0deg, #222 50%, #272727 50%);
    background: #222 linear-gradient(90deg, #222 50%, #272727 50%);
    background-size: 7em 100%;
    margin-top: 5px;
}
.container_with_dots_pattern{
    position: relative;
    height:400px;
    overflow: hidden;
    margin-top: 5px;
    background: #102533 -webkit-linear-gradient(0deg, #102533 50%, #0e202b 50%);
    background: #102533 linear-gradient(90deg, #102533 50%, #0e202b 50%);
    background-size: 7em 100%;

}
.container_with_stars_pattern{
    position: relative;
    height: 400px;
    margin-top: 5px;
    overflow: hidden;
    background: -webkit-linear-gradient(0deg,#280e39 50%, #220c31 50%);
    background: #280e39 linear-gradient(90deg, #280e39 50%, #220c31 50%);
    background-size: 3em 100%;

}
.container_with_animated_stroke{
    position: relative;
    height: 400px;
    margin-top: 5px;
    overflow: hidden;
    background: -webkit-linear-gradient(0deg, #21060e 50%, #18040a 50%);
    background: #21060e linear-gradient(90deg, #21060e 50%, #18040a 50%);
    background-size: 6em 100%;
}






/*SECOND TEXT - WORKS ONLY IN CHROME, SAFARI, OPERA*/
/*animate the fill, CSS backgrounds don’t give us many possibilities. We can only*/

.box-with-text-2{
    position: absolute;
    top:50%;
    left: 50%;
    font: bold 26vmax/.8 Open Sans, Impact;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.box-with-text-2{
    background-image: -webkit-linear-gradient(green 50%, red 50%); /*kaksno je razmerje barv*/
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100% 15px;         /*koliko px so debele crte*/
    -webkit-text-fill-color: transparent;  /* s tem dolocimo, da so crte polnilo*/
    -webkit-background-clip: text;          /* s tem dolocimo, da text zapolnimo*/
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 4s linear infinite;
}

@-webkit-keyframes stripes {
    100%{
        background-position: 0 -50%;
    }
}

@keyframes stripes {
    100%{
        background-position: 0 -50%;

    }
}

/* SVG TEXT*/

svg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.text{
    font:12em/1 Open Sans, Impact;
    text-transform: uppercase;
    fill: url(#gradient-one);     /*in html make gradient, here you need URL and ID*/
}

#radial_text{
    text-transform: lowercase;
    font:12em/1 Indie Flower, Impact;
}

/*to je za vse text-e, ki imajo markup <text> v svg*/
text{
    text-transform: uppercase;
    font:12em/1 Open Sans, Impact;

}

/* TEXT WITH DOTS */
.text_dots{
    fill: url(#p_spots);
    stroke: #1D4259;
    stroke-width:5;
    stop-opacity:.5;
}

        /* Colorize pattern*/
.g-spots circle:nth-child(5n + 1){
    fill: #1D4259;
}
.g-spots circle:nth-child(5n + 2){
    fill: #0A7373;
}
.g-spots circle:nth-child(5n + 3){
    fill: #30BF7C;
}
.g-spots circle:nth-child(5n + 4){
    fill: #BAF266;
}
.g-spots circle:nth-child(5n + 5){
    fill: #EEF272;
}

/***********/

/* TEXT WITH STARS*/
.text_stars{
    fill: url(#p_stars);
    stroke: #551F7A;
    stroke-width: 4;
}

/* Colorize and animate pattern*/

.g-stars polygon{
    stroke-width: 0;
    -webkit-animation: stroke 2s infinite;
    animation: stroke 2s infinite;
}

.g-stars polygon:nth-child(5n + 1){
    fill: #551F7A;
    stroke: #551F7A;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.g-stars polygon:nth-child(5n + 2){
    fill: #BA2799;
    stoke: #BA2799;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.g-stars polygon:nth-child(5n + 3){
    fill:#D9587A;
    stoke:#D9587A;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.g-stars polygon:nth-child(5n + 4){
    fill: #FFDD00;
    stroke: #FFDD00;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
}
.g-stars polygon:nth-child(5n + 5) {
    fill: #FFF3A1;
    stroke: #FFF3A1;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes stroke {
    50%{
        stroke-width: 7;
    }
}

@keyframes stroke {
    50%{
        stroke-width: 7;
    }
}

/* TEXT WITH ANIMATED STROKE PATTERN */

.text_animated_lines{
    fill: none;
    stroke: url(#p_animated_lines);
    stroke-width: 8;
    stroke-linejoin: round;
}

    /* Colorize & animate pattern*/

@-webkit-keyframes stroke_2 {
    50% {
        stroke-width: 27;
        stroke-opacity: .5;
    }
}
@keyframes stroke_2 {
    50%{
        stroke-width: 27;
        stroke-opacity: .5;
    }
}

.g-animated-lines ellipse{
    stroke-width: 0;
    stroke-opacity: 1;
    -webkit-animation: stroke 1.5s infinite;
    animation: stroke_2 1.5s infinite;
}
.g-animated-lines ellipse:nth-child(5n + 1){
    fill: #3F0B1B;
    stroke: #3F0B1B;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;

}
.g-animated-lines ellipse:nth-child(5n + 2){
    fill: #7A1631;
    stroke: #7A1631;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.g-animated-lines ellipse:nth-child(5n + 3){
    fill: #CF423C;
    stroke: #CF423C;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.g-animated-lines ellipse:nth-child(5n + 4){
    fill: #FC7D49;
    stroke: #FC7D49;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.g-animated-lines ellipse:nth-child(5n + 5){
    fill: #FFD462;
    stroke: #FFD462;
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}